{% extends 'base.html' %}
{% block content %}

<h2>Cities List</h2>
<a class="btn" href="{% url 'city_create' %}">Add a City</a>
{% for city in cities %}
  <div class="card">
      <a href="{% url 'city_detail' city.id %}">
    <div class="card-content">
      <span class="card-title">{{ city.name }}</span>
      <!-- <p>Population: {{ city.population }}</p>
      <p>Languages: {{ city.languages }}</p>
      <p>Currency: {{ city.currency }}</p> -->
    </div>
      </a>
  </div>
{% endfor %}
{% endblock %}