    {% extends 'base.html' %}
    {% block content %}
    <h1>Welcome to J&A Travel Guide</h1>
    <p class="flow-text">Pick your city and generate your unique destination with J&A Travel Guide</p>

    {% for city in cities %}
    <div class="index-banner color2">
        <div class="section">
            <div class="row">
                <div class="col s6 m12">
                    <div class="card">
                        <div class="card-image">
                            <img
                                src="{{city.imagelink}}">
                            <span class="card-title">{{ city.name }}</span>
                            <a href="{% url 'city_detail' city.id %}" class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">GO</i></a>
                        </div>
                        <div class="card-content">
                            <p>Card Description</p>
                        </div>
                    </div>

                   
                    
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% endblock %}
    
